services:
  api_restaurant:
    build: .
    env_file:
      - ./.env
    ports:
      - "5000:5000"
    restart: unless-stopped
  pgadmin_restaurant:
    image: dpage/pgadmin4:latest
    ports:
      - "8080:80"
    env_file:
      - ./.env
    depends_on:
    - api_restaurant